DATABASE_URL=postgresql+asyncpg://finka:finka@localhost:5432/finka_dev
ENVIRONMENT=development
COGNITO_USER_POOL_ID=local
COGNITO_APP_CLIENT_ID=local
AWS_REGION=eu-west-2
TRADING_212_API_KEY=ExampleString